

.page.theme_dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent-color: #ff0070;
  --btn-color:#ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
}


.theme_dark .decorative__element {
  display: flex;
}

.theme_dark .header__theme-menu-button:hover {
  --border-button-hover: 1px solid rgba(255, 0, 112, 0.40);
}

@media (min-width: 1024px) {
  .header__title .footer__title {
  --text-shadow-color: #ff0070;
  }
}